/* Color Variables */
:root {
  --color-maroon: #640A09;
  --color-lavender: #E1C2CE;
  --color-lavender-dark: #C098BA;
  --color-yellow: #BF9526;
  --color-turquoise: #DDEDE2;
  --color-light: #F0F8E2;
  --color-white-shadow: #CCCEC8;
  --color-white: #F9F0E3;
  --color-black: #1D1D1D;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding-top: 100px; /* Matches header height */
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--color-neutral-dark);
}