.header-container {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
    height: 100px;
    width: 100%;
    background-color: var(--color-maroon);
    color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box; /* Add this to include padding in height */
  }

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-white);
}

.header-logo {
  height: 75px;
  margin: 0.25rem 0;
  width: auto;
}